<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="IoCSection" type="SIoC.core.Config.IoCConfigurationSection, SIoC.core"/>
  </configSections>

  <IoCSection IoCModule="ConsoleTest.IoCModule, ConsoleTest" ContainerProvider="SIoC.core.Impl.SIoCContainer, SIoC.core">
    
  </IoCSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>